<% wrap_layout :layout do %>
  <div class="page-banner">
    <p>This is for internal use by the PaaS team. Public-facing documentation is located at <a href="https://docs.cloud.service.gov.uk">docs.cloud.service.gov.uk</a>.</p>
  </div>

  <%= yield %>
<% end %>
